Repository Philosocode/okane: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, test-frontend, test-backend

lint-frontend:
  run: make lint

test-frontend:
  run: make test

test-backend:
  run: dotnet test --verbosity normal

101-API: Change `AddRangeAsync` to `AddRange`
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api.Tests/Infrastructure/HostedServices/RefreshTokenCleanupServiceTests.cs
Due: test-backend

101-API: Change `AddAsync` to `Add`
  Okane.Api.Tests/Features/Auth/Endpoints/LogoutTests.cs
  Okane.Api.Tests/Features/Auth/Endpoints/RotateRefreshTokenTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/DeleteFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/PatchFinanceRecordTests.cs
Due: test-backend

102-FE: Add button to verify email
  Okane.Client/src/features/auth/components/verifyEmail/VerifyEmailFailed.spec.ts
  Okane.Client/src/features/auth/components/verifyEmail/VerifyEmailFailed.vue
  Okane.Client/src/features/auth/constants/copy.ts
  Okane.Client/src/shared/pages/VerifyEmailPage.spec.ts
  Okane.Client/src/shared/pages/VerifyEmailPage.vue
Due: lint-frontend, test-frontend

104-FE: Add `meta` referrer tag to mitigate token referrer leak
  Okane.Client/index.html
Due: none

126-INFRA: Replace `asdf` with `mise`
  .github/workflows/lint-frontend.yml
  .github/workflows/test-frontend.yml
  .tool-versions
  Makefile
  Okane.Client/.tool-versions
  Okane.Client/Makefile
  Okane.Client/mise.toml
  mise.toml
Due: none

131-API: Update request logging format
  Okane.Api/Infrastructure/Extensions/ConfigureServices.cs
  Okane.Api/appsettings.Development.json
Due: test-backend

130-API: Update endpoints to ignore honeypot requests
  Okane.Api.Tests/Features/Auth/Endpoints/LoginTests.cs
  Okane.Api.Tests/Features/Auth/Endpoints/RegisterTests.cs
  Okane.Api.Tests/Features/Auth/Endpoints/SendResetPasswordEmail.cs
  Okane.Api.Tests/Testing/Mocks/TestingEmailService.cs
  Okane.Api/Features/Auth/Dtos/Requests/HoneypotRequest.cs
  Okane.Api/Features/Auth/Endpoints/Login.cs
  Okane.Api/Features/Auth/Endpoints/Register.cs
  Okane.Api/Features/Auth/Endpoints/SendResetPasswordEmail.cs
Due: test-backend

130-FE: Add honeypot input
  Okane.Client/src/features/auth/components/LoginForm.spec.ts
  Okane.Client/src/features/auth/components/LoginForm.vue
  Okane.Client/src/features/auth/components/RegisterForm.spec.ts
  Okane.Client/src/features/auth/components/RegisterForm.vue
  Okane.Client/src/features/auth/components/resetPassword/SendResetPasswordEmailForm.spec.ts
  Okane.Client/src/features/auth/components/resetPassword/SendResetPasswordEmailForm.vue
  Okane.Client/src/features/auth/composables/useAuthStore.spec.ts
  Okane.Client/src/features/auth/composables/useAuthStore.ts
  Okane.Client/src/features/auth/composables/useSendResetPasswordEmail.spec.ts
  Okane.Client/src/features/auth/composables/useSendResetPasswordEmail.ts
  Okane.Client/src/features/auth/types/authForm.ts
  Okane.Client/src/shared/components/form/Honeypot.spec.ts
  Okane.Client/src/shared/components/form/Honeypot.vue
  Okane.Client/src/shared/constants/copy.ts
  Okane.Client/src/shared/constants/form.ts
Due: lint-frontend, test-frontend

135-API: Forward reverse proxy headers
  Okane.Api/Infrastructure/Extensions/ConfigureApp.cs
Due: test-backend

135-INFRA: Sort `appsettings.json` keys A-Z
  Okane.Api/appsettings.json
Due: none

135-INFRA: Add API `systemd` unit file and ENV file
  Okane.Api/appsettings.Production.json
  Okane.Api/appsettings.json
  Remote/okane-api.service
  Remote/okane.env
Due: none

135-INFRA: Add `Caddyfile`
  Remote/Caddyfile
Due: none

135-FE: Update form input model type to fix build errors
  Okane.Client/src/__tests__/factories/financeRecord.ts
  Okane.Client/src/features/financeRecords/components/saveFinanceRecord/CreateFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/saveFinanceRecord/CreateFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/saveFinanceRecord/EditFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/saveFinanceRecord/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/features/financeRecords/components/saveFinanceRecord/SaveFinanceRecordFormInputs.vue
  Okane.Client/src/features/financeRecords/components/saveFinanceRecord/SaveFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/searchFilters/FinanceRecordAmountFilter.spec.ts
  Okane.Client/src/features/financeRecords/components/searchFilters/FinanceRecordAmountFilter.vue
  Okane.Client/src/features/financeRecords/components/searchFilters/FinanceRecordHappenedAtFilter.spec.ts
  Okane.Client/src/features/financeRecords/components/searchFilters/FinanceRecordHappenedAtFilter.vue
  Okane.Client/src/features/financeRecords/components/searchFilters/SearchFiltersForm.spec.ts
  Okane.Client/src/features/financeRecords/components/searchFilters/SearchFiltersForm.vue
  Okane.Client/src/features/financeRecords/composables/useEditFinanceRecord.spec.ts
  Okane.Client/src/features/financeRecords/constants/apiRoutes.ts
  Okane.Client/src/features/financeRecords/types/saveFinanceRecord.ts
  Okane.Client/src/features/financeRecords/types/searchFilters.ts
  Okane.Client/src/features/financeRecords/utils/financeRecord.spec.ts
  Okane.Client/src/features/financeRecords/utils/financeRecord.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/features/financeRecords/utils/mappers.ts
  Okane.Client/src/features/financeRecords/utils/saveFinanceRecord.spec.ts
  Okane.Client/src/features/financeRecords/utils/saveFinanceRecord.ts
  Okane.Client/src/features/financeUserTags/components/TagTypeSelect.vue
  Okane.Client/src/shared/components/form/FormInput.spec.ts
  Okane.Client/src/shared/components/form/FormInput.vue
  Okane.Client/src/shared/components/form/FormSelect.vue
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.spec.ts
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.vue
  Okane.Client/src/shared/components/toast/Toast.vue
  Okane.Client/src/shared/composables/useModalTriggerStore.spec.ts
  Okane.Client/src/shared/utils/mappers.ts
  Okane.Client/src/shared/utils/search.spec.ts
  Okane.Client/src/shared/utils/search.ts
Due: lint-frontend, test-frontend

135-FE: Fix issues with modal trigger focus
  Okane.Client/src/__tests__/setup/globalStubs.ts
  Okane.Client/src/features/auth/components/accountPage/DeleteAccountModal.vue
  Okane.Client/src/shared/components/modal/Modal.spec.ts
  Okane.Client/src/shared/components/modal/Modal.vue
Due: lint-frontend, test-frontend

135-INFRA: Reorganize Makefiles + add commands for deployment
  .gitignore
  Makefile
  Okane.Api/Makefile
  Okane.Client/Makefile
  mise.toml
Due: none

135-API: Update package versions
  Okane.Api/Okane.Api.csproj
Due: none

15-FE: Include `X-User-Email` header with certain requests
  Okane.Client/src/features/auth/composables/useAuthStore.spec.ts
  Okane.Client/src/features/auth/composables/useAuthStore.ts
  Okane.Client/src/features/auth/composables/useSendResetPasswordEmail.spec.ts
  Okane.Client/src/features/auth/composables/useSendResetPasswordEmail.ts
  Okane.Client/src/features/auth/composables/useSendVerificationEmail.spec.ts
  Okane.Client/src/features/auth/composables/useSendVerificationEmail.ts
  Okane.Client/src/shared/constants/http.ts
  Okane.Client/src/shared/services/apiClient/apiClient.spec.ts
  Okane.Client/src/shared/services/apiClient/apiClient.ts
Due: lint-frontend, test-frontend

15-API: Add rate limiting
  Okane.Api.Tests/Features/Auth/Endpoints/RegisterTests.cs
  Okane.Api.Tests/Features/Auth/Endpoints/SendResetPasswordEmailTests.cs
  Okane.Api.Tests/Features/Auth/Endpoints/SendVerificationEmailTests.cs
  Okane.Api.Tests/Features/Auth/Utils/AuthUtilsTests.cs
  Okane.Api.Tests/Shared/Extensions/HttpContextExtensionTests.cs
  Okane.Api.Tests/Testing/Extensions/HttpClientExtensions.cs
  Okane.Api.Tests/Testing/Integration/PostgresApiFactory.cs
  Okane.Api.Tests/Testing/Integration/TestUser.cs
  Okane.Api.Tests/Testing/Utils/UserUtils.cs
  Okane.Api/Features/Auth/Endpoints/Register.cs
  Okane.Api/Features/Auth/Endpoints/SendResetPasswordEmail.cs
  Okane.Api/Features/Auth/Endpoints/SendVerificationEmail.cs
  Okane.Api/Features/Auth/Utils/AuthUtils.cs
  Okane.Api/Features/Finances/Endpoints/PutRenameFinanceUserTag.cs
  Okane.Api/Infrastructure/Extensions/ConfigureApp.cs
  Okane.Api/Infrastructure/Extensions/ConfigureServices.cs
  Okane.Api/Infrastructure/RateLimit/RateLimitAmounts.cs
  Okane.Api/Infrastructure/RateLimit/RateLimitPolicyNames.cs
  Okane.Api/Infrastructure/RateLimit/RateLimitSettings.cs
  Okane.Api/Shared/Constants/HttpHeaderNames.cs
  Okane.Api/Shared/Exceptions/InvalidXUserEmailResult.cs
  Okane.Api/Shared/Extensions/HttpContextExtensions.cs
  Okane.Api/appsettings.Production.json
  Okane.Api/appsettings.json
Due: test-backend

135-INFRA: Make Caddyfile more generic. Remove from deploy
  Makefile
  Remote/Caddyfile
Due: none

135-FE: Update favicon
  Okane.Client/index.html
  Okane.Client/public/apple-touch-icon.png
  Okane.Client/public/favicon.ico
Due: none

135-API: For email endpoints, rate limit only on IP address for now
  Okane.Api/Infrastructure/Extensions/ConfigureServices.cs
Due: test-backend

139-INFRA: Add pre-commit hooks for FE linting + testing
  lefthook.yml
Due: none

139-FE: Update `vitest` deps` to fix incompatibility
  Okane.Client/package.json
  Okane.Client/pnpm-lock.yaml
Due: none

Path conditions:
  lint-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-backend: any of: *.cs
