Repository Philosocode/okane: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, test-frontend, test-backend

lint-frontend:
  run: make lint

test-frontend:
  run: make test

test-backend:
  run: dotnet test --verbosity normal

98-API: Add endpoint to get single finance user tag
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceUserTagTests.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceUserTag.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

98-API: Update `DeleteFinanceRecord` endpoint to delete tags
  Okane.Api.Tests/Features/Finances/Endpoints/DeleteFinanceRecordTests.cs
  Okane.Api/Features/Finances/Endpoints/DeleteFinanceRecord.cs
Due: test-backend

98-API: Add support for creating / editing finance records w/ tags
  Okane.Api.Tests/Features/Finances/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/PostFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Extensions/FinanceRecordExtensionsTests.cs
  Okane.Api.Tests/Features/Finances/Mappers/FinanceRecordMappersTests.cs
  Okane.Api.Tests/Features/Finances/Services/FinanceTagServiceTests.cs
  Okane.Api.Tests/Testing/StubFactories/FinanceRecordStubFactory.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordResponse.cs
  Okane.Api/Features/Finances/Endpoints/PatchFinanceRecord.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceRecord.cs
  Okane.Api/Features/Finances/Extensions/FinanceRecordExtensions.cs
  Okane.Api/Features/Finances/Mappers/FinanceRecordMappers.cs
  Okane.Api/Features/Finances/Services/FinanceTagService.cs
  Okane.Api/Features/Finances/Validators/FinanceRecordValidator.cs
  Okane.Api/Features/Tags/Entities/Tag.cs
  Requests/finance-records/postFinanceRecord
Due: test-backend

98-API: Add support for filtering finance records by tag IDs
  Okane.Api.Tests/Features/Finances/Services/FinanceRecordServiceTests.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordFilterQueryParameters.cs
  Okane.Api/Features/Finances/Services/FinanceRecordService.cs
Due: test-backend

98-API: Update `DeleteSelf` endpoint to also delete finance tags
  Okane.Api.Tests/Features/Auth/Endpoints/DeleteSelfTests.cs
  Okane.Api/Features/Auth/Endpoints/DeleteSelf.cs
Due: test-backend

98-API: Move finance user tag endpoints to `/finance-user-tags`
  Okane.Api/Features/Finances/Endpoints/DeleteFinanceUserTag.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceUserTag.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceUserTags.cs
  Okane.Api/Features/Finances/Endpoints/PostRenameFinanceUserTag.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
  Requests/finance-user-tags/getFinanceUserTags
Due: test-backend

98-API: Include tags when fetching finance records
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceRecord.cs
  Okane.Api/Features/Finances/Endpoints/GetPaginatedFinanceRecords.cs
Due: test-backend

98-API: Fix API makefile test command
  Okane.Api/Makefile
Due: none

98-API: Update finance user tag rename endpoint to use PUT
  Okane.Api.Tests/Features/Finances/Endpoints/PutRenameFinanceUserTagTests.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/PutRenameFinanceUserTag.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

98-DOCS: Fix spelling error in file name
  Documents/response-formats.md
Due: none

98-API: Add migration for finance tags
  Okane.Api/Features/Auth/Entities/ApiUser.cs
  Okane.Api/Features/Finances/Entities/FinanceRecord.cs
  Okane.Api/Features/Finances/Entities/FinanceRecordTag.cs
  Okane.Api/Features/Finances/Entities/FinanceUserTag.cs
  Okane.Api/Features/Tags/Entities/Tag.cs
  Okane.Api/Infrastructure/Database/ApiDbContext.cs
  Okane.Api/Infrastructure/Database/Migrations/20241231190419_FinanceTags.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20241231190419_FinanceTags.cs
Due: test-backend

98-API: Add migration for case-insensitive collation
  Okane.Api/Infrastructure/Database/ApiDbContext.cs
  Okane.Api/Infrastructure/Database/Constants/DbConstants.cs
  Okane.Api/Infrastructure/Database/Migrations/20241226175309_CaseInsensitiveCollation.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20241226175309_CaseInsensitiveCollation.cs
  Okane.Api/Okane.Api.csproj
Due: test-backend

98-API: Add endpoint to rename a finance user tag
  Okane.Api.Tests/Features/Finances/Endpoints/PostRenameFinanceUserTagTests.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/PostRenameFinanceUserTag.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

98-API: Add endpoint to fetch all finance user tags
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceUserTagsTests.cs
  Okane.Api.Tests/Features/Finances/Mappers/FinanceUserTagMappersTests.cs
  Okane.Api.Tests/Testing/StubFactories/TagStubFactory.cs
  Okane.Api.Tests/Testing/Utils/FinanceTagUtils.cs
  Okane.Api.Tests/Testing/Utils/TagUtils.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Dtos/FinanceUserTagResponse.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceUserTags.cs
  Okane.Api/Features/Finances/Mappers/FinanceUserTagMappers.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
  Requests/finance-records/tags/getFinanceUserTags
Due: test-backend

98-API: `PostFinanceRecord` Fix `CreatedAtRoute` args
  Okane.Api.Tests/Features/Finances/Endpoints/PostFinanceRecordTests.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceRecord.cs
Due: test-backend

98-API: Add endpoint to create a finance user tag
  Okane.Api.Tests/Features/Finances/Endpoints/PostFinanceUserTagTests.cs
  Okane.Api.Tests/Features/Finances/Services/FinanceTagServiceTests.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceUserTag.cs
  Okane.Api/Features/Finances/Services/FinanceTagService.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
  Okane.Api/Infrastructure/Extensions/ConfigureServices.cs
Due: test-backend

98-API: Add endpoint to delete finance user tag
  Okane.Api.Tests/Features/Finances/Endpoints/DeleteFinanceUserTagTests.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/DeleteFinanceUserTag.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

98-DOCS: Add spec for finance record tags
  Documents/Specs/finance-record-tags.md
Due: none

98-API: Rename folder: `Tests/Features/FinanceRecords` to `Tests/Features/Finances`
  Okane.Api.Tests/Features/Finances/Endpoints/DeleteFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/PostFinanceRecordTests.cs
Due: test-backend

98-API: Rename `UserUtils.GetByEmail` to `UserUtils.GetByEmailAsync`
  Okane.Api.Tests/Features/Auth/Endpoints/DeleteSelfTests.cs
  Okane.Api.Tests/Features/Auth/Endpoints/RotateRefreshTokenTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/DeleteFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api.Tests/Testing/Utils/UserUtils.cs
Due: test-backend

98-FE: Remove unused `AuthFormState` type
  Okane.Client/src/__tests__/factories/passwordRequirements.ts
  Okane.Client/src/__tests__/msw/handlers/auth.ts
  Okane.Client/src/features/auth/components/EditPassword.spec.ts
  Okane.Client/src/features/auth/components/RegisterForm.spec.ts
  Okane.Client/src/features/auth/components/ResetPasswordForm.spec.ts
  Okane.Client/src/features/auth/composables/useAuthStore.spec.ts
Due: lint-frontend, test-frontend

98-FE: Rename `useCreateFinanceRecordMutation` to `useCreateFinanceRecord`
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/composables/useCreateFinanceRecord.spec.ts
  Okane.Client/src/features/financeRecords/composables/useCreateFinanceRecord.ts
Due: lint-frontend, test-frontend

FE-98: Rename `useEditFinanceRecordMutation` to `useEditFinanceRecord`
  Okane.Client/src/features/financeRecords/components/EditFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/composables/useEditFinanceRecord.spec.ts
  Okane.Client/src/features/financeRecords/composables/useEditFinanceRecord.ts
Due: lint-frontend, test-frontend

98-FE: Rename `PreCreationFinanceRecord` to `CreateFinanceRecordRequest`
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/composables/useCreateFinanceRecordMutation.ts
  Okane.Client/src/features/financeRecords/types/saveFinanceRecord.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/features/financeRecords/utils/mappers.ts
Due: lint-frontend, test-frontend

FE-98: Rename `useDeleteFinanceRecordMutation` to `useDeleteFinanceRecord`
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecord.spec.ts
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecord.ts
Due: lint-frontend, test-frontend

98-FE: `SaveFinanceRecordModal` Fix spelling error in modal heading ID
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModal.vue
Due: lint-frontend, test-frontend

98-FE: Add composable to fetch all finance user tags
  Okane.Client/src/features/financeUserTags/composables/useQueryFinanceUserTags.spec.ts
  Okane.Client/src/features/financeUserTags/composables/useQueryFinanceUserTags.ts
  Okane.Client/src/features/financeUserTags/constants/apiRoutes.ts
  Okane.Client/src/features/financeUserTags/constants/queryKeys.ts
  Okane.Client/src/features/financeUserTags/types/financeUserTag.ts
  Okane.Client/src/shared/types/tag.ts
Due: lint-frontend, test-frontend

98-FE: Extract floating add button to a reusable component
  Okane.Client/src/features/financeRecords/components/AddFinanceRecordButton.vue
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordButton.spec.ts
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordButton.vue
  Okane.Client/src/shared/components/FloatingCreateButton.spec.ts
  Okane.Client/src/shared/components/FloatingCreateButton.vue
  Okane.Client/src/shared/pages/FinancesPage.spec.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
Due: lint-frontend, test-frontend

98-FE: Add composable to create finance user tag
  Okane.Client/src/__tests__/factories/financeUserTag.ts
  Okane.Client/src/__tests__/factories/tag.ts
  Okane.Client/src/features/financeUserTags/composables/useCreateFinanceUserTag.spec.ts
  Okane.Client/src/features/financeUserTags/composables/useCreateFinanceUserTag.ts
  Okane.Client/src/shared/utils/array.spec.ts
  Okane.Client/src/shared/utils/array.ts
  Okane.Client/src/shared/utils/string.spec.ts
  Okane.Client/src/shared/utils/string.ts
Due: lint-frontend, test-frontend

98-FE: Add tag combobox
  Okane.Client/package.json
  Okane.Client/pnpm-lock.yaml
  Okane.Client/src/main.ts
  Okane.Client/src/shared/components/form/TagCombobox.spec.ts
  Okane.Client/src/shared/components/form/TagCombobox.vue
  Okane.Client/src/shared/constants/copy.ts
  Okane.Client/src/shared/constants/html.ts
  Okane.Client/src/shared/constants/tags.ts
Due: lint-frontend, test-frontend

Path conditions:
  lint-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-backend: any of: *.cs
