Repository Philosocode/okane: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, test-frontend, test-backend

lefthook.yml:

pre-push:
  parallel: true
  commands:
    lint-frontend:
      root: Okane.Client
      glob: "*.{vue,js,ts}"
      run: make lint
    test-frontend:
      root: Okane.Client
      glob: "*.{vue,js,ts}"
      run: make test
    test-backend:
      glob: "*.cs"
      run: dotnet test --verbosity normal

33-FE: Re-organize styles
  Okane.Client/src/features/auth/AuthForm.vue
  Okane.Client/src/shared/components/FormInput.vue
  Okane.Client/src/shared/components/Heading.vue
  Okane.Client/src/shared/layouts/PageLayout.vue
  Okane.Client/src/shared/pages/LoginPage.vue
  Okane.Client/src/shared/pages/RegisterPage.vue
  Okane.Client/src/shared/styles/_base.scss
  Okane.Client/src/shared/styles/_reset.scss
  Okane.Client/src/shared/styles/global.scss
  Okane.Client/src/shared/styles/index.scss
  Okane.Client/src/shared/styles/mixins/_respond.scss
  Okane.Client/src/shared/styles/themes/_default.scss
  Okane.Client/src/shared/styles/variables.scss
  Okane.Client/src/shared/styles/variables/_colors.scss
  Okane.Client/src/shared/styles/variables/_spacing.scss
  Okane.Client/src/shared/styles/variables/_typography.scss
  Okane.Client/vite.config.ts
Due: lint-frontend, test-frontend

9-INFRA: Move Hurl `Requests` out of API project
  Requests/HealthCheck/health-check.hurl
  Requests/variables.env
Due: none

9-INFRA: Update `deps` command to install `asdf`
  Makefile
Due: none

9-INFRA: Swagger: rename `/api/health` to `/health`
  Okane.Api/Infrastructure/HealthCheck/HealthCheckDocumentFilter.cs
Due: test-backend

9-INFRA: Create hurl shell script
  .tool-versions
  Requests/auth/getSelf
  Requests/auth/postLogin
  Requests/getHealth
  Requests/variables.env
  hurl.sh
Due: none

36-API: Add `FinanceRecords` table
  Okane.Api/Features/Auth/Entities/RefreshToken.cs
  Okane.Api/Features/Finances/Entities/FinanceRecord.cs
  Okane.Api/Infrastructure/Database/ApiDbContext.cs
  Okane.Api/Infrastructure/Database/Migrations/20240412040544_AddFinanceRecords.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20240412040544_AddFinanceRecords.cs
Due: test-backend

36-API: Add constant for DB entity max string length
  Okane.Api/Features/Auth/Entities/ApiUser.cs
  Okane.Api/Features/Finances/Entities/FinanceRecord.cs
  Okane.Api/Infrastructure/Database/Constants/DbConstants.cs
Due: test-backend

36-API: Add migration to change entity max string lengths
  Okane.Api/Infrastructure/Database/Migrations/20240412041333_ChangeMaxStringLengths.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20240412041333_ChangeMaxStringLengths.cs
Due: test-backend

36-API: `Register` Move request / validator to top of file
  Okane.Api/Features/Auth/Endpoints/Register.cs
Due: test-backend

36-API: Add endpoint to create finance record
  Okane.Api/Features/Auth/Dtos/Responses/UserResponse.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordResponse.cs
  Okane.Api/Features/Finances/Endpoints/CreateFinanceRecord.cs
  Okane.Api/Features/Finances/Mappers/FinanceRecordMappers.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

36-API: Add endpoint to get a single finance record
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceRecord.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

36-API: Add endpoint to update a finance record
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/PatchFinanceRecord.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

36-API: Add endpoint to delete a finance record
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/DeleteFinanceRecord.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceRecord.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

36-API: Create finance record validator
  Okane.Api/Features/Finances/Endpoints/PatchFinanceRecord.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceRecord.cs
  Okane.Api/Features/Finances/FinanceRecordValidator.cs
Due: test-backend

36-API: Add endpoint to fetch paginated finance records
  .editorconfig
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/GetPaginatedFinanceRecords.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
  Okane.Api/Shared/Dtos/ApiResponses/ApiPaginatedResponse.cs
  Okane.Api/Shared/Dtos/FilterSortPageOptions.cs
  Okane.Api/Shared/Dtos/SortDirections.cs
Due: test-backend

36-API: Add tests for POST finance records endpoint
  Okane.Api.Tests/Features/Auth/Endpoints/RegisterTests.cs
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/PostFinanceRecordTests.cs
  Okane.Api.Tests/Testing/Constants/ValidationConstants.cs
  Okane.Api.Tests/Testing/Utils/UrlUtils.cs
  Okane.Api/Features/Auth/Endpoints/Register.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceRecord.cs
  Okane.Api/Features/Finances/Validators/FinanceRecordValidator.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

36-API: Add POST finance record request
  Requests/finance-records/postFinanceRecord
Due: none

36-API: Remove `IStubFactory` interface
  Okane.Api.Tests/Testing/StubFactories/ApiUserStubFactory.cs
  Okane.Api.Tests/Testing/StubFactories/IStubFactory.cs
  Okane.Api.Tests/Testing/StubFactories/JwtSettingsStubFactory.cs
  Okane.Api.Tests/Testing/StubFactories/RefreshTokenStubFactory.cs
Due: test-backend

36-API: Add tests for GET finance record endpoint
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/GetFinanceRecordTests.cs
  Okane.Api.Tests/Testing/StubFactories/ApiUserStubFactory.cs
  Okane.Api.Tests/Testing/StubFactories/FinanceRecordStubFactory.cs
  Okane.Api.Tests/Testing/Utils/UserUtils.cs
Due: test-backend

36-API: Add tests for DELETE finance record endpoint
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/DeleteFinanceRecordTests.cs
Due: test-backend

36-API: Add tests for GET paginated finance records endpoint
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api/Features/Finances/Endpoints/GetPaginatedFinanceRecords.cs
  Okane.Api/Shared/Dtos/ApiResponses/ApiPaginatedResponse.cs
  Okane.Api/Shared/Dtos/FilterSortPageOptions.cs
  Okane.Api/Shared/Dtos/QueryParameters/FilterQueryParameters.cs
  Okane.Api/Shared/Dtos/QueryParameters/PageQueryParameters.cs
  Okane.Api/Shared/Dtos/QueryParameters/SortQueryParameters.cs
Due: test-backend

36-API: Add tests for PATCH finance record endpoint
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/DeleteFinanceRecordTests.cs
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api/Features/Finances/Endpoints/PatchFinanceRecord.cs
Due: test-backend

36-INFRA: Add Hurl request for paginated finance records
  Requests/finance-records/getPaginatedFinanceRecords
Due: none

36-API: Add default sort for paginated finance records
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api/Features/Finances/Endpoints/GetPaginatedFinanceRecords.cs
Due: test-backend

36-API: Return 400 for `BadHttpRequestException`
  Okane.Api.Tests/Shared/Exceptions/GlobalExceptionHandlerTests.cs
  Okane.Api/Shared/Exceptions/GlobalExceptionHandler.cs
Due: test-backend

36-API: Add `FinanceRecordType` enum
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/PostFinanceRecordTests.cs
  Okane.Api.Tests/Testing/StubFactories/FinanceRecordStubFactory.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordResponse.cs
  Okane.Api/Features/Finances/Endpoints/PatchFinanceRecord.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceRecord.cs
  Okane.Api/Features/Finances/Entities/FinanceRecord.cs
  Okane.Api/Features/Finances/Entities/FinanceRecordType.cs
  Okane.Api/Features/Finances/Mappers/FinanceRecordMappers.cs
  Okane.Api/Features/Finances/Validators/FinanceRecordValidator.cs
  Okane.Api/Infrastructure/Database/ApiDbContext.cs
  Okane.Api/Infrastructure/Database/Migrations/20240417063404_AddFinanceRecords.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20240417063404_AddFinanceRecords.cs
  Okane.Api/Infrastructure/Database/Migrations/20240417063557_ChangeMaxStringLengths.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20240417063557_ChangeMaxStringLengths.cs
  Okane.Api/Infrastructure/Database/Migrations/ApiDbContextModelSnapshot.cs
  Okane.Api/Infrastructure/Extensions/ConfigureServices.cs
  Requests/finance-records/postFinanceRecord
Due: test-backend

36-API: Add custom Xunit assembly framework
  Okane.Api.Tests/ApiTestFramework.cs
Due: test-backend
