Repository Philosocode/okane: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, test-frontend, test-backend

lint-frontend:
  run: make lint

test-frontend:
  run: make test

test-backend:
  run: dotnet test --verbosity normal

36-API: Add endpoint to update a finance record
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/PatchFinanceRecord.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

36-API: Add POST finance record request
  Requests/finance-records/postFinanceRecord
Due: none

36-API: Add constant for DB entity max string length
  Okane.Api/Features/Auth/Entities/ApiUser.cs
  Okane.Api/Features/Finances/Entities/FinanceRecord.cs
  Okane.Api/Infrastructure/Database/Constants/DbConstants.cs
Due: test-backend

36-API: Add tests for DELETE finance record endpoint
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/DeleteFinanceRecordTests.cs
Due: test-backend

36-API: Add tests for PATCH finance record endpoint
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/DeleteFinanceRecordTests.cs
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api/Features/Finances/Endpoints/PatchFinanceRecord.cs
Due: test-backend

36-API: Add endpoint to fetch paginated finance records
  .editorconfig
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/GetPaginatedFinanceRecords.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
  Okane.Api/Shared/Dtos/ApiResponses/ApiPaginatedResponse.cs
  Okane.Api/Shared/Dtos/FilterSortPageOptions.cs
  Okane.Api/Shared/Dtos/SortDirections.cs
Due: test-backend

36-API: `Register` Move request / validator to top of file
  Okane.Api/Features/Auth/Endpoints/Register.cs
Due: test-backend

36-API: Add endpoint to create finance record
  Okane.Api/Features/Auth/Dtos/Responses/UserResponse.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordResponse.cs
  Okane.Api/Features/Finances/Endpoints/CreateFinanceRecord.cs
  Okane.Api/Features/Finances/Mappers/FinanceRecordMappers.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

36-API: Add tests for GET paginated finance records endpoint
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api/Features/Finances/Endpoints/GetPaginatedFinanceRecords.cs
  Okane.Api/Shared/Dtos/ApiResponses/ApiPaginatedResponse.cs
  Okane.Api/Shared/Dtos/FilterSortPageOptions.cs
  Okane.Api/Shared/Dtos/QueryParameters/FilterQueryParameters.cs
  Okane.Api/Shared/Dtos/QueryParameters/PageQueryParameters.cs
  Okane.Api/Shared/Dtos/QueryParameters/SortQueryParameters.cs
Due: test-backend

36-API: Add `FinanceRecordType` enum
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/PostFinanceRecordTests.cs
  Okane.Api.Tests/Testing/StubFactories/FinanceRecordStubFactory.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordResponse.cs
  Okane.Api/Features/Finances/Endpoints/PatchFinanceRecord.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceRecord.cs
  Okane.Api/Features/Finances/Entities/FinanceRecord.cs
  Okane.Api/Features/Finances/Entities/FinanceRecordType.cs
  Okane.Api/Features/Finances/Mappers/FinanceRecordMappers.cs
  Okane.Api/Features/Finances/Validators/FinanceRecordValidator.cs
  Okane.Api/Infrastructure/Database/ApiDbContext.cs
  Okane.Api/Infrastructure/Database/Migrations/20240417063404_AddFinanceRecords.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20240417063404_AddFinanceRecords.cs
  Okane.Api/Infrastructure/Database/Migrations/20240417063557_ChangeMaxStringLengths.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20240417063557_ChangeMaxStringLengths.cs
  Okane.Api/Infrastructure/Database/Migrations/ApiDbContextModelSnapshot.cs
  Okane.Api/Infrastructure/Extensions/ConfigureServices.cs
  Requests/finance-records/postFinanceRecord
Due: test-backend

36-API: Return 400 for `BadHttpRequestException`
  Okane.Api.Tests/Shared/Exceptions/GlobalExceptionHandlerTests.cs
  Okane.Api/Shared/Exceptions/GlobalExceptionHandler.cs
Due: test-backend

36-API: Add custom Xunit assembly framework
  Okane.Api.Tests/ApiTestFramework.cs
Due: test-backend

36-API: Add default sort for paginated finance records
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api/Features/Finances/Endpoints/GetPaginatedFinanceRecords.cs
Due: test-backend

36-INFRA: Add Hurl request for paginated finance records
  Requests/finance-records/getPaginatedFinanceRecords
Due: none

38-FE: Add `<Modal />`
  Okane.Client/src/shared/components/modal/Modal.spec.ts
  Okane.Client/src/shared/components/modal/Modal.vue
  Okane.Client/src/shared/components/modal/ModalHeading.spec.ts
  Okane.Client/src/shared/components/modal/ModalHeading.vue
  Okane.Client/src/shared/composables/useModal.spec.ts
  Okane.Client/src/shared/composables/useModal.ts
  Okane.Client/src/shared/styles/functions/_index.scss
  Okane.Client/src/shared/styles/functions/_pxToRem.scss
  Okane.Client/src/shared/styles/index.scss
  Okane.Client/src/shared/styles/mixins/_index.scss
  Okane.Client/vite.config.ts
Due: lint-frontend, test-frontend

30-FE: Add `<FormSelect>`
  Okane.Client/src/shared/components/FormSelect.spec.ts
  Okane.Client/src/shared/components/FormSelect.vue
Due: lint-frontend, test-frontend

38-API: Validate # decimals when creating / editing a finance record
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/PostFinanceRecordTests.cs
  Okane.Api/Features/Finances/Validators/FinanceRecordValidator.cs
Due: test-backend

38-FE: Add form to create finance records
  Okane.Client/package-lock.json
  Okane.Client/package.json
  Okane.Client/src/__tests__/factories/financeRecord.factory.ts
  Okane.Client/src/__tests__/factories/formErrors.factory.ts
  Okane.Client/src/__tests__/spies/date.spies.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordForm.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordForm.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.vue
  Okane.Client/src/features/financeRecords/composables/useSaveFinanceRecord.composable.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSaveFinanceRecord.composable.ts
  Okane.Client/src/features/financeRecords/constants/financeRecord.constants.ts
  Okane.Client/src/features/financeRecords/types/financeRecord.types.ts
  Okane.Client/src/features/financeRecords/utils/financeRecord.utils.spec.ts
  Okane.Client/src/features/financeRecords/utils/financeRecord.utils.ts
  Okane.Client/src/shared/components/FormInput.spec.ts
  Okane.Client/src/shared/components/FormInput.vue
  Okane.Client/src/shared/components/modal/ModalActions.spec.ts
  Okane.Client/src/shared/components/modal/ModalActions.vue
  Okane.Client/src/shared/constants/aria.constants.ts
  Okane.Client/src/shared/constants/form.constants.ts
  Okane.Client/src/shared/pages/DashboardPage.spec.ts
  Okane.Client/src/shared/pages/DashboardPage.vue
  Okane.Client/src/shared/services/apiClient/apiClient.service.spec.ts
  Okane.Client/src/shared/services/apiClient/apiClient.service.ts
  Okane.Client/src/shared/services/apiClient/apiClient.utils.spec.ts
  Okane.Client/src/shared/services/apiClient/apiClient.utils.ts
  Okane.Client/src/shared/types/form.types.ts
  Okane.Client/src/shared/utils/dateTime.utils.spec.ts
  Okane.Client/src/shared/utils/dateTime.utils.ts
  Okane.Client/src/shared/utils/form.utils.spec.ts
  Okane.Client/src/shared/utils/form.utils.ts
  Okane.Client/src/shared/utils/object.utils.spec.ts
  Okane.Client/src/shared/utils/object.utils.ts
  Okane.Client/src/shared/utils/string.utils.spec.ts
  Okane.Client/src/shared/utils/string.utils.ts
Due: lint-frontend, test-frontend

38-FE: `UseMockedStore` Fix TS error
  Okane.Client/src/__tests__/composables/useMockedStore.composable.ts
Due: lint-frontend, test-frontend

38-INFRA: Replace npm with pnpm
  .tool-versions
  Okane.Client/package-lock.json
  Okane.Client/package.json
  Okane.Client/pnpm-lock.yaml
  Okane.Client/public/mockServiceWorker.js
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: lint-frontend, test-frontend

38-API: Add migration for FinanceRecord.Amount precision
  Okane.Api/Features/Finances/Entities/FinanceRecord.cs
  Okane.Api/Infrastructure/Database/Migrations/20240724011620_UpdateFinanceRecordAmountPrecision.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20240724011620_UpdateFinanceRecordAmountPrecision.cs
Due: test-backend

38-FE: Remove unused code
  Okane.Client/src/__tests__/msw/handlers/auth.handlers.ts
Due: lint-frontend, test-frontend

38-INFRA: Update deps
  Okane.Client/package-lock.json
  Okane.Client/package.json
  Okane.Client/public/mockServiceWorker.js
Due: lint-frontend, test-frontend

38-FE: Fix linting error for Vue test utils plugin
  Okane.Client/src/__tests__/setup/vueTestUtilExtensions.setup.ts
Due: lint-frontend, test-frontend

38-FE: Move shared form components to separate folder
  Okane.Client/src/features/auth/AuthForm.vue
  Okane.Client/src/shared/components/form/FormInput.spec.ts
  Okane.Client/src/shared/components/form/FormInput.vue
  Okane.Client/src/shared/components/form/FormSelect.spec.ts
  Okane.Client/src/shared/components/form/FormSelect.vue
Due: lint-frontend, test-frontend

38-FE: Make `Modal` close button accessible
  Okane.Client/src/shared/components/modal/Modal.spec.ts
  Okane.Client/src/shared/components/modal/Modal.vue
Due: lint-frontend, test-frontend

38-FE: Add FontAwesome
  Okane.Client/package.json
  Okane.Client/pnpm-lock.yaml
  Okane.Client/src/__tests__/setup/getMountComponent.setup.ts
  Okane.Client/src/main.ts
  Okane.Client/src/shared/services/fontAwesome/fontAwesome.service.ts
Due: lint-frontend, test-frontend

38-FE: `getMountComponent` Fix TS error and simplify merging logic
  Okane.Client/package.json
  Okane.Client/pnpm-lock.yaml
  Okane.Client/src/__tests__/setup/getMountComponent.setup.ts
  Okane.Client/src/shared/components/modal/Modal.spec.ts
Due: lint-frontend, test-frontend

38-FE: Improve types for VueWrapper plugin
  Okane.Client/src/__tests__/setup/vueTestUtilExtensions.setup.ts
  Okane.Client/src/shared/types/html.types.ts
Due: lint-frontend, test-frontend

38-INFRA: Fix unmet peer dependencies issue
  Okane.Client/package.json
  Okane.Client/pnpm-lock.yaml
Due: none

38-FE: `SaveFinanceRecordFormInputs` Emit instead of mutating props
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordForm.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.vue
Due: lint-frontend, test-frontend

38-INFRA: Update GitHub actions to work with `pnpm`
  .github/workflows/lint-frontend.yml
  .github/workflows/test-frontend.yml
Due: none

Path conditions:
  lint-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-backend: any of: *.cs
