Repository Philosocode/okane: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, test-frontend, test-backend

lint-frontend:
  run: make lint

test-frontend:
  run: make test

test-backend:
  run: dotnet test --verbosity normal

139-INFRA: Add pre-commit hooks for FE linting + testing
  lefthook.yml
Due: none

139-FE: Update `vitest` deps` to fix incompatibility
  Okane.Client/package.json
  Okane.Client/pnpm-lock.yaml
Due: none

139-FE: Make `pre-commit` hook fail for any ESLint warnings
  lefthook.yml
Due: none

139-FE: Bail `pre-commit` tests if a single test fails
  lefthook.yml
Due: none

139-FE: Don't use glob for `pre-commit` `lint` command
  lefthook.yml
Due: none

120-FE: Add constant to hold dark mode storage key
  Okane.Client/src/shared/components/button/ColorModeToggle.vue
  Okane.Client/src/shared/constants/styles.ts
Due: lint-frontend, test-frontend

120-FE: Fix incorrect dark mode key in `initialDarkMode.js`
  Okane.Client/public/initialDarkMode.js
Due: lint-frontend, test-frontend

120-API: `GetPaginatedFinanceRecords` Remove unneeded `[AsParameters]`
  Okane.Api/Features/Finances/Endpoints/GetPaginatedFinanceRecords.cs
Due: test-backend

120-FE: Install `vue-echarts`
  Okane.Client/package.json
  Okane.Client/pnpm-lock.yaml
Due: none

120-API: Update GET stats endpoint: add support for grouping by interval
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api.Tests/Testing/TestData/GetFinanceRecordsStatsInvalidQueryParameters.cs
  Okane.Api.Tests/Testing/Utils/DateTimeUtils.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordStatsIntervals.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordStatsQueryParameters.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordsStats.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceRecordsStats.cs
  Okane.Api/Features/Finances/Validators/FinanceRecordStatsQueryParametersValidator.cs
  Okane.Api/Infrastructure/Database/ApiDbContext.cs
  Okane.Api/Shared/Constants/TimeIntervals.cs
Due: test-backend

120-FE: Update `useDeleteFinanceRecord` to invalidate stats instead of messing with the query cache
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecord.spec.ts
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecord.ts
Due: lint-frontend, test-frontend

120-FE: Pass time interval when fetching stats
  Okane.Client/src/features/financeRecords/components/stats/TotalRevenueAndExpenses.spec.ts
  Okane.Client/src/features/financeRecords/components/stats/TotalRevenueAndExpenses.vue
  Okane.Client/src/features/financeRecords/composables/useQueryFinanceRecordsStats.spec.ts
  Okane.Client/src/features/financeRecords/composables/useQueryFinanceRecordsStats.ts
  Okane.Client/src/features/financeRecords/constants/apiRoutes.ts
  Okane.Client/src/features/financeRecords/constants/queryKeys.ts
  Okane.Client/src/features/financeRecords/constants/stats.ts
  Okane.Client/src/features/financeRecords/types/financeRecordsStats.ts
  Okane.Client/src/shared/constants/copy.ts
  Okane.Client/src/shared/constants/dateTime.ts
Due: lint-frontend, test-frontend

120-FE: Update favicon
  Okane.Client/index.html
  Okane.Client/public/apple-touch-icon.png
  Okane.Client/public/favicon-96x96.png
  Okane.Client/public/favicon.ico
  Okane.Client/public/favicon.svg
  Okane.Client/public/site.webmanifest
  Okane.Client/public/web-app-manifest-192x192.png
  Okane.Client/public/web-app-manifest-512x512.png
Due: none

120-FE: Rename "total revenue" to "total revenues"
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordsStats.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceRecordsStats.cs
  Okane.Client/src/__tests__/factories/financeRecord.ts
  Okane.Client/src/features/financeRecords/components/stats/FinancesPieChart.vue
  Okane.Client/src/features/financeRecords/components/stats/TotalRevenuesAndExpenses.spec.ts
  Okane.Client/src/features/financeRecords/components/stats/TotalRevenuesAndExpenses.vue
  Okane.Client/src/features/financeRecords/types/financeRecordsStats.ts
  Okane.Client/src/shared/pages/FinancesPage.spec.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
Due: lint-frontend, test-frontend, test-backend

120-API: Add tests for `FinanceRecordService.FilterQueryableFinanceRecord`
  Okane.Api.Tests/Features/Finances/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api.Tests/Features/Finances/Services/FinanceRecordServiceTests.cs
Due: test-backend

120-API: Rename "finance record stats" to "finance records stats"
  Okane.Api.Tests/Testing/TestData/GetFinanceRecordsStatsInvalidQueryParameters.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordsStatsIntervals.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordsStatsQueryParameters.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceRecordsStats.cs
  Okane.Api/Features/Finances/Validators/FinanceRecordsStatsQueryParametersValidator.cs
Due: test-backend

120-FE: Add `withShadow` prop to `AppButton` and `FormSelect`
  Okane.Client/src/features/financeRecords/components/searchFilters/SearchFiltersSection.vue
  Okane.Client/src/features/financeRecords/components/stats/FinanceCharts.vue
  Okane.Client/src/features/financeRecords/components/stats/FinancesOverTimeChart.vue
  Okane.Client/src/features/financeUserTags/components/TagTypeSelect.vue
  Okane.Client/src/shared/components/button/AppButton.spec.ts
  Okane.Client/src/shared/components/button/AppButton.vue
  Okane.Client/src/shared/components/form/FormSelect.spec.ts
  Okane.Client/src/shared/components/form/FormSelect.vue
  Okane.Client/src/shared/styles/components/_after-shadow.scss
  Okane.Client/src/shared/styles/components/_index.scss
Due: lint-frontend, test-frontend

120-FE: Implement finance charts
  Okane.Client/src/__tests__/factories/financeRecord.ts
  Okane.Client/src/__tests__/msw/handlers/financeRecord.ts
  Okane.Client/src/features/financeRecords/components/stats/FinanceCharts.spec.ts
  Okane.Client/src/features/financeRecords/components/stats/FinanceCharts.vue
  Okane.Client/src/features/financeRecords/components/stats/FinancesOverTimeChart.spec.ts
  Okane.Client/src/features/financeRecords/components/stats/FinancesOverTimeChart.vue
  Okane.Client/src/features/financeRecords/components/stats/FinancesPieChart.spec.ts
  Okane.Client/src/features/financeRecords/components/stats/FinancesPieChart.vue
  Okane.Client/src/features/financeRecords/constants/copy.ts
  Okane.Client/src/shared/components/charts/VueChart.spec.ts
  Okane.Client/src/shared/components/charts/VueChart.vue
  Okane.Client/src/shared/constants/charts.ts
  Okane.Client/src/shared/constants/copy.ts
  Okane.Client/src/shared/constants/testIds.ts
  Okane.Client/src/shared/pages/FinancesPage.spec.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
  Okane.Client/src/shared/types/charts.ts
Due: lint-frontend, test-frontend

120-FE: Add transition to color mode toggle
  Okane.Client/src/shared/components/button/ColorModeToggle.vue
Due: lint-frontend, test-frontend

120-FE: Display custom `<select>` caret
  Okane.Client/src/shared/components/form/FormSelect.vue
  Okane.Client/src/shared/services/fontAwesome/fontAwesome.ts
  Okane.Client/src/shared/styles/_base.scss
Due: lint-frontend, test-frontend

149-FE: Update common time format to use 1-12 hours
  Okane.Client/src/shared/components/charts/VueChart.spec.ts
  Okane.Client/src/shared/constants/dateTime.ts
Due: lint-frontend, test-frontend

149-FE: Fix cursor pagination not working
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.ts
Due: lint-frontend, test-frontend

149-API: Fix bug in GET stats resulting in "infinite" loop
  Okane.Api/Features/Finances/Endpoints/GetFinanceRecordsStats.cs
Due: test-backend

Path conditions:
  lint-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-backend: any of: *.cs
