Repository Philosocode/okane: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, test-frontend, test-backend

lint-frontend:
  run: make lint

test-frontend:
  run: make test

test-backend:
  run: dotnet test --verbosity normal

72-FE: Rename `DEFAULT_FINANCE_RECORD_SEARCH_FILTERS` to `DEFAULT_FINANCE_RECORDS_SEARCH_FILTERS`
  Okane.Client/src/__tests__/msw/handlers/financeRecord.ts
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordList.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsForm.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsForm.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsModal.vue
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.ts
  Okane.Client/src/features/financeRecords/constants/searchFinanceRecords.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/shared/components/InfiniteScroller.spec.ts
Due: lint-frontend, test-frontend

72-FE: `mapDate.to.dateTimeLocal` Fix incorrect format string
  Okane.Client/src/shared/utils/dateTime.ts
Due: lint-frontend, test-frontend

72-FE: Replace visually-hidden mixin with global class
  Okane.Client/src/shared/components/form/FormInput.spec.ts
  Okane.Client/src/shared/components/form/FormInput.vue
  Okane.Client/src/shared/components/form/FormSelect.spec.ts
  Okane.Client/src/shared/components/form/FormSelect.vue
  Okane.Client/src/shared/constants/styles.ts
  Okane.Client/src/shared/styles/_base.scss
  Okane.Client/src/shared/styles/mixins/_index.scss
  Okane.Client/src/shared/styles/mixins/_visuallyHidden.scss
Due: lint-frontend, test-frontend

72-FE: Display summary of applied finance records search filters
  Okane.Client/src/__tests__/setup/vueTestUtilExtensions.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSection.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSection.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSummary.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSummary.vue
  Okane.Client/src/features/financeRecords/constants/copy.ts
Due: lint-frontend, test-frontend

72-FE: Remove unneeded word from query key
  Okane.Client/src/features/financeRecords/constants/queryKeys.ts
Due: lint-frontend, test-frontend

72-FE: Add `dateOnlyTimestamp` and `mapUTCTimestampToLocalDate` utils
  Okane.Client/src/shared/utils/dateTime.spec.ts
  Okane.Client/src/shared/utils/dateTime.ts
Due: lint-frontend, test-frontend

72-FE: Rename `useQueryFinanceRecordStore` to `useSearchFinanceRecordsStore`
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/EditFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/FinanceRecordList.vue
  Okane.Client/src/features/financeRecords/composables/useQueryFinanceRecordStore.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.ts
Due: lint-frontend, test-frontend

72-FE: Fix tests
  Okane.Client/src/__tests__/msw/handlers/financeRecord.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordList.spec.ts
  Okane.Client/src/shared/components/InfiniteScroller.spec.ts
Due: lint-frontend, test-frontend

72-FE: Move `dateToDateTimeLocalFormat` into a mapper
  Okane.Client/src/__tests__/factories/financeRecord.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/features/financeRecords/utils/mappers.ts
  Okane.Client/src/features/financeRecords/utils/saveFinanceRecord.spec.ts
  Okane.Client/src/features/financeRecords/utils/saveFinanceRecord.ts
  Okane.Client/src/shared/utils/dateTime.spec.ts
  Okane.Client/src/shared/utils/dateTime.ts
Due: lint-frontend, test-frontend

72-FE: Rename `FinanceRecordSearchFilters` to `FinanceRecordsSearchFilters`
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.ts
  Okane.Client/src/features/financeRecords/constants/queryKeys.ts
  Okane.Client/src/features/financeRecords/constants/searchFilters.ts
  Okane.Client/src/features/financeRecords/types/searchFilters.ts
Due: lint-frontend, test-frontend

72-FE: Add modal to edit finance record search filters
  Okane.Client/src/features/financeRecords/components/FinanceRecordAmountFilter.spec.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordAmountFilter.vue
  Okane.Client/src/features/financeRecords/components/FinanceRecordHappenedAtFilter.spec.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordHappenedAtFilter.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsForm.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsForm.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsModal.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsModal.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSection.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSection.vue
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.ts
  Okane.Client/src/features/financeRecords/constants/apiRoutes.ts
  Okane.Client/src/features/financeRecords/constants/copy.ts
  Okane.Client/src/features/financeRecords/constants/searchFinanceRecords.ts
  Okane.Client/src/features/financeRecords/types/searchFinanceRecords.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/features/financeRecords/utils/mappers.ts
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.spec.ts
  Okane.Client/src/shared/components/modal/Modal.vue
  Okane.Client/src/shared/constants/copy.ts
  Okane.Client/src/shared/constants/form.ts
  Okane.Client/src/shared/pages/FinancesPage.spec.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
  Okane.Client/src/shared/types/search.ts
  Okane.Client/src/shared/utils/search.spec.ts
  Okane.Client/src/shared/utils/search.ts
Due: lint-frontend, test-frontend

72-FE: Add `ToggleableRangeInputs`
  Okane.Client/src/shared/components/form/FormSelect.vue
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.spec.ts
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.vue
  Okane.Client/src/shared/constants/copy.ts
  Okane.Client/src/shared/constants/search.ts
Due: lint-frontend, test-frontend

72-FE: Convert common tests into common asserts
  Okane.Client/src/__tests__/utils/commonAsserts.ts
  Okane.Client/src/__tests__/utils/commonTests.ts
  Okane.Client/src/shared/components/form/FormSelect.spec.ts
  Okane.Client/src/shared/pages/FinancesPage.spec.ts
Due: lint-frontend, test-frontend

72-FE: `FormSelect` Add `name` prop
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.vue
  Okane.Client/src/shared/components/form/FormSelect.spec.ts
  Okane.Client/src/shared/components/form/FormSelect.vue
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.spec.ts
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.vue
Due: lint-frontend, test-frontend

72-FE: Add cursor rules
  Okane.Client/.cursorrules
Due: none

72-FE: Rename files: `*/searchFilters` -> `*/searchFinanceRecords`
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.ts
  Okane.Client/src/features/financeRecords/constants/queryKeys.ts
  Okane.Client/src/features/financeRecords/constants/searchFilters.ts
  Okane.Client/src/features/financeRecords/constants/searchFinanceRecords.ts
  Okane.Client/src/features/financeRecords/types/searchFinanceRecords.ts
  Okane.Client/src/shared/components/InfiniteScroller.spec.ts
  Okane.Client/src/shared/constants/search.ts
Due: lint-frontend, test-frontend

72-FE: Add visually hidden SCSS mixin
  Okane.Client/src/shared/styles/mixins/_index.scss
  Okane.Client/src/shared/styles/mixins/_visuallyHidden.scss
Due: none

72-FE: Move field names out of `FINANCES_COPY.SAVE_FINANCE_RECORD_MODAL`
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.vue
  Okane.Client/src/features/financeRecords/constants/copy.ts
Due: lint-frontend, test-frontend

72-FE: Fix tall modals getting cut off
  Okane.Client/src/shared/components/modal/Modal.vue
Due: lint-frontend, test-frontend

72-FE: Add support for visually hiding form input labels
  Okane.Client/src/shared/components/form/FormInput.spec.ts
  Okane.Client/src/shared/components/form/FormInput.vue
  Okane.Client/src/shared/components/form/FormSelect.spec.ts
  Okane.Client/src/shared/components/form/FormSelect.vue
Due: lint-frontend, test-frontend

72-API: Add missing param in comment
  Okane.Api/Features/Finances/Services/FinanceRecordService.cs
Due: test-backend

75-FE: Improve `ToggleMenu` accessibility
  Okane.Client/src/features/financeRecords/components/FinanceRecordListItem.spec.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordListItem.vue
  Okane.Client/src/shared/components/ToggleMenu.spec.ts
  Okane.Client/src/shared/components/ToggleMenu.vue
Due: lint-frontend, test-frontend

75-FE: Improve `Modal` accessibility
  Okane.Client/src/__tests__/utils/commonAsserts.ts
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModalActions.spec.ts
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModalActions.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsForm.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsForm.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsModal.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsModal.vue
  Okane.Client/src/shared/components/form/FormInput.spec.ts
  Okane.Client/src/shared/components/form/FormInput.vue
  Okane.Client/src/shared/components/modal/Modal.spec.ts
  Okane.Client/src/shared/components/modal/Modal.vue
  Okane.Client/src/shared/components/modal/ModalHeading.spec.ts
  Okane.Client/src/shared/components/modal/ModalHeading.vue
Due: lint-frontend, test-frontend

75-FE: Fix finance record list item date not updating on edit
  Okane.Client/src/features/financeRecords/components/FinanceRecordListItem.vue
Due: lint-frontend, test-frontend

75-FE: `Modal` Disable document scroll when modal is open
  Okane.Client/src/shared/components/modal/Modal.spec.ts
  Okane.Client/src/shared/components/modal/Modal.vue
  Okane.Client/src/shared/constants/dataAttributes.ts
  Okane.Client/src/shared/styles/_base.scss
Due: lint-frontend, test-frontend

75-FE: Create constants for aria attributes
  Okane.Client/src/__tests__/utils/commonAsserts.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordListItem.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/shared/components/ToggleMenu.spec.ts
  Okane.Client/src/shared/components/form/FormInput.spec.ts
  Okane.Client/src/shared/components/loader/Loader.spec.ts
  Okane.Client/src/shared/components/modal/Modal.spec.ts
  Okane.Client/src/shared/constants/aria.ts
Due: lint-frontend, test-frontend

75-API: Add endpoint to get stats for filtered finance records
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordsStats.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceRecordsStats.cs
  Okane.Api/Features/Finances/Services/FinanceRecordService.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

73-API: Add Hurl request for finance records stats
  Requests/finance-records/stats/getStats
Due: none

73-API: Add endpoint to get stats for filtered finance records
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordsStats.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceRecordsStats.cs
  Okane.Api/Features/Finances/Services/FinanceRecordService.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

70-API: Remove `InMemoryContextFactory`
  Okane.Api.Tests/Features/Auth/Services/TokenServiceTests.cs
  Okane.Api.Tests/Infrastructure/HostedServices/RefreshTokenCleanupServiceTests.cs
  Okane.Api.Tests/Shared/Dtos/ApiPaginatedResponseTests.cs
  Okane.Api.Tests/Shared/Extensions/QueryableExtensionTests.cs
  Okane.Api.Tests/Testing/Integration/InMemoryContextFactory.cs
  Okane.Api.Tests/Testing/Mocks/Wrappers/TestingClock.cs
Due: test-backend

70-API: Remove `DbContextUtils`
  Okane.Api.Tests/Features/Auth/Services/TokenServiceTests.cs
  Okane.Api.Tests/Infrastructure/HostedServices/RefreshTokenCleanupServiceTests.cs
  Okane.Api.Tests/Shared/Dtos/ApiPaginatedResponseTests.cs
  Okane.Api.Tests/Testing/Utils/DbContextUtils.cs
  Okane.Api.Tests/Testing/Utils/UserUtils.cs
Due: test-backend

Path conditions:
  lint-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-backend: any of: *.cs
