Repository Philosocode/okane: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, test-frontend, test-backend

lint-frontend:
  run: make lint

test-frontend:
  run: make test

test-backend:
  run: dotnet test --verbosity normal

65-FE: Update tests
  Okane.Client/src/__tests__/factories/formErrors.ts
  Okane.Client/src/__tests__/utils/commonTests.ts
  Okane.Client/src/features/financeRecords/components/AddFinanceRecordButton.spec.ts
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/EditFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordList.spec.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordListItem.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordForm.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecordMutation.spec.ts
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecordStore.spec.ts
  Okane.Client/src/features/financeRecords/composables/useEditFinanceRecordMutation.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useQueryFinanceRecordStore.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSaveFinanceRecordStore.spec.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/features/financeRecords/utils/saveFinanceRecord.spec.ts
  Okane.Client/src/shared/pages/FinancesPage.spec.ts
  Okane.Client/src/shared/utils/dateTime.ts
  Okane.Client/src/shared/utils/mappers.spec.ts
Due: lint-frontend, test-frontend

65-FE: Add support for editing a finance record
  Okane.Client/src/features/financeRecords/components/FinanceRecordListItem.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordForm.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModalContent.vue
  Okane.Client/src/features/financeRecords/composables/useCreateFinanceRecordMutation.ts
  Okane.Client/src/features/financeRecords/composables/useEditFinanceRecord.ts
  Okane.Client/src/features/financeRecords/constants/apiRoutes.ts
  Okane.Client/src/features/financeRecords/constants/saveFinanceRecord.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/features/financeRecords/utils/mappers.ts
  Okane.Client/src/features/financeRecords/utils/saveFinanceRecord.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
  Okane.Client/src/shared/types/shared.ts
  Okane.Client/src/shared/utils/mappers.ts
Due: lint-frontend, test-frontend

65-FE: Remove "you are logged in" text
  Okane.Client/src/features/auth/constants/copy.ts
  Okane.Client/src/shared/pages/FinancesPage.spec.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
Due: lint-frontend, test-frontend

65-FE: Update `FormSelect` to take up height of container
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.vue
  Okane.Client/src/shared/components/form/FormSelect.vue
Due: lint-frontend, test-frontend

65-FE: Move add button & modal logic out of save finance record form
  Okane.Client/src/features/financeRecords/components/AddFinanceRecordButton.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordForm.vue
  Okane.Client/src/features/financeRecords/constants/copy.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
Due: lint-frontend, test-frontend

65-INFRA: Update `vue` dep to 3.5.4
  Okane.Client/package.json
  Okane.Client/pnpm-lock.yaml
Due: none

65-FE: Refactor save finance record logic
  Okane.Client/src/features/financeRecords/components/AddFinanceRecordButton.vue
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/EditFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/FinanceRecordList.vue
  Okane.Client/src/features/financeRecords/components/FinanceRecordListItem.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModalContent.vue
  Okane.Client/src/features/financeRecords/composables/useCreateFinanceRecordMutation.ts
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecordMutation.ts
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecordStore.ts
  Okane.Client/src/features/financeRecords/composables/useEditFinanceRecord.ts
  Okane.Client/src/features/financeRecords/composables/useEditFinanceRecordMutation.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.ts
  Okane.Client/src/features/financeRecords/composables/useQueryFinanceRecordStore.ts
  Okane.Client/src/features/financeRecords/composables/useSaveFinanceRecordStore.ts
  Okane.Client/src/features/financeRecords/constants/copy.ts
  Okane.Client/src/features/financeRecords/constants/saveFinanceRecord.ts
  Okane.Client/src/features/financeRecords/constants/searchFilters.ts
  Okane.Client/src/shared/composables/useCleanUpInfiniteQuery.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
Due: lint-frontend, test-frontend

65-FE: Move initial state & submit logic out of `SaveFinanceRecordForm`
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordForm.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordForm.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordModalContent.vue
  Okane.Client/src/features/financeRecords/composables/useCreateFinanceRecordMutation.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/features/financeRecords/utils/mappers.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
Due: lint-frontend, test-frontend

66-FE: Update API route constants to be `Record<string, () => string>`
  Okane.Client/src/__tests__/msw/handlers/auth.ts
  Okane.Client/src/__tests__/msw/handlers/financeRecord.ts
  Okane.Client/src/__tests__/utils/url.ts
  Okane.Client/src/features/auth/composables/useAuthStore.spec.ts
  Okane.Client/src/features/auth/composables/useAuthStore.ts
  Okane.Client/src/features/auth/constants/apiRoutes.ts
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/components/EditFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/composables/useCreateFinanceRecordMutation.spec.ts
  Okane.Client/src/features/financeRecords/composables/useCreateFinanceRecordMutation.ts
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecordMutation.spec.ts
  Okane.Client/src/features/financeRecords/composables/useDeleteFinanceRecordMutation.ts
  Okane.Client/src/features/financeRecords/composables/useEditFinanceRecordMutation.spec.ts
  Okane.Client/src/features/financeRecords/composables/useEditFinanceRecordMutation.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.ts
  Okane.Client/src/features/financeRecords/constants/apiRoutes.ts
  Okane.Client/src/shared/components/InfiniteScroller.spec.ts
  Okane.Client/src/shared/services/apiClient/apiClient.spec.ts
  Okane.Client/src/shared/utils/url.spec.ts
  Okane.Client/src/shared/utils/url.ts
Due: lint-frontend, test-frontend

39-API: `PatchFinanceRecord` Remove `WithRequestValidation`
  Okane.Api/Features/Finances/Endpoints/PatchFinanceRecord.cs
Due: test-backend

39-API: Add `FinanceRecordSortQueryParameters` & validator
  Okane.Api/Features/Finances/Constants/FinanceRecordSortFields.cs
  Okane.Api/Features/Finances/Dtos/FinanceRecordSortQueryParameters.cs
  Okane.Api/Features/Finances/Validators/FinanceRecordSortQueryParametersValidator.cs
  Okane.Api/Shared/Constants/SortDirections.cs
  Okane.Api/Shared/Dtos/SortDirections.cs
Due: test-backend

39-API: Add `FinanceRecordFilterQueryParameters`
  Okane.Api/Features/Finances/Dtos/FinanceRecordFilterQueryParameters.cs
  Okane.Api/Shared/Dtos/QueryParameters/FilterQueryParameters.cs
Due: test-backend

39-FE: Add sorting and filtering to paginated finance records
  Okane.Api.Tests/Features/FinanceRecords/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api.Tests/Shared/Extensions/QueryableExtensionTests.cs
  Okane.Api.Tests/Testing/StubFactories/FinanceRecordStubFactory.cs
  Okane.Api/Features/Finances/Endpoints/GetPaginatedFinanceRecords.cs
  Okane.Api/Features/Finances/Services/FinanceRecordService.cs
  Okane.Api/Features/Finances/Validators/FinanceRecordSortQueryParametersValidator.cs
  Okane.Api/Infrastructure/Extensions/ConfigureServices.cs
  Okane.Api/Shared/Extensions/QueryableExtensions.cs
Due: test-backend

72-FE: Rename `useQueryFinanceRecordStore` to `useSearchFinanceRecordsStore`
  Okane.Client/src/features/financeRecords/components/CreateFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/EditFinanceRecordModal.vue
  Okane.Client/src/features/financeRecords/components/FinanceRecordList.vue
  Okane.Client/src/features/financeRecords/composables/useQueryFinanceRecordStore.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.ts
Due: lint-frontend, test-frontend

72-FE: Rename `FinanceRecordSearchFilters` to `FinanceRecordsSearchFilters`
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.ts
  Okane.Client/src/features/financeRecords/constants/queryKeys.ts
  Okane.Client/src/features/financeRecords/constants/searchFilters.ts
  Okane.Client/src/features/financeRecords/types/searchFilters.ts
Due: lint-frontend, test-frontend

72-FE: Add visually hidden SCSS mixin
  Okane.Client/src/shared/styles/mixins/_index.scss
  Okane.Client/src/shared/styles/mixins/_visuallyHidden.scss
Due: none

72-FE: Fix tall modals getting cut off
  Okane.Client/src/shared/components/modal/Modal.vue
Due: lint-frontend, test-frontend

72-FE: Move `dateToDateTimeLocalFormat` into a mapper
  Okane.Client/src/__tests__/factories/financeRecord.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/features/financeRecords/utils/mappers.ts
  Okane.Client/src/features/financeRecords/utils/saveFinanceRecord.spec.ts
  Okane.Client/src/features/financeRecords/utils/saveFinanceRecord.ts
  Okane.Client/src/shared/utils/dateTime.spec.ts
  Okane.Client/src/shared/utils/dateTime.ts
Due: lint-frontend, test-frontend

72-FE: Add cursor rules
  Okane.Client/.cursorrules
Due: none

72-FE: Add support for visually hiding form input labels
  Okane.Client/src/shared/components/form/FormInput.spec.ts
  Okane.Client/src/shared/components/form/FormInput.vue
  Okane.Client/src/shared/components/form/FormSelect.spec.ts
  Okane.Client/src/shared/components/form/FormSelect.vue
Due: lint-frontend, test-frontend

72-FE: Add `ToggleableRangeInputs`
  Okane.Client/src/shared/components/form/FormSelect.vue
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.spec.ts
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.vue
  Okane.Client/src/shared/constants/copy.ts
  Okane.Client/src/shared/constants/search.ts
Due: lint-frontend, test-frontend

72-FE: Remove unneeded word from query key
  Okane.Client/src/features/financeRecords/constants/queryKeys.ts
Due: lint-frontend, test-frontend

72-FE: Add `dateOnlyTimestamp` and `mapUTCTimestampToLocalDate` utils
  Okane.Client/src/shared/utils/dateTime.spec.ts
  Okane.Client/src/shared/utils/dateTime.ts
Due: lint-frontend, test-frontend

72-FE: Rename files: `*/searchFilters` -> `*/searchFinanceRecords`
  Okane.Client/src/features/financeRecords/components/DeleteFinanceRecordModal.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.ts
  Okane.Client/src/features/financeRecords/constants/queryKeys.ts
  Okane.Client/src/features/financeRecords/constants/searchFilters.ts
  Okane.Client/src/features/financeRecords/constants/searchFinanceRecords.ts
  Okane.Client/src/features/financeRecords/types/searchFinanceRecords.ts
  Okane.Client/src/shared/components/InfiniteScroller.spec.ts
  Okane.Client/src/shared/constants/search.ts
Due: lint-frontend, test-frontend

72-FE: `FormSelect` Add `name` prop
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.vue
  Okane.Client/src/shared/components/form/FormSelect.spec.ts
  Okane.Client/src/shared/components/form/FormSelect.vue
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.spec.ts
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.vue
Due: lint-frontend, test-frontend

72-FE: Convert common tests into common asserts
  Okane.Client/src/__tests__/utils/commonAsserts.ts
  Okane.Client/src/__tests__/utils/commonTests.ts
  Okane.Client/src/shared/components/form/FormSelect.spec.ts
  Okane.Client/src/shared/pages/FinancesPage.spec.ts
Due: lint-frontend, test-frontend

72-API: Add missing param in comment
  Okane.Api/Features/Finances/Services/FinanceRecordService.cs
Due: test-backend

72-FE: Display summary of applied finance records search filters
  Okane.Client/src/__tests__/setup/vueTestUtilExtensions.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSection.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSection.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSummary.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSummary.vue
  Okane.Client/src/features/financeRecords/constants/copy.ts
Due: lint-frontend, test-frontend

72-FE: Move field names out of `FINANCES_COPY.SAVE_FINANCE_RECORD_MODAL`
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.spec.ts
  Okane.Client/src/features/financeRecords/components/SaveFinanceRecordFormInputs.vue
  Okane.Client/src/features/financeRecords/constants/copy.ts
Due: lint-frontend, test-frontend

72-FE: Add modal to edit finance record search filters
  Okane.Client/src/features/financeRecords/components/FinanceRecordAmountFilter.spec.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordAmountFilter.vue
  Okane.Client/src/features/financeRecords/components/FinanceRecordHappenedAtFilter.spec.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordHappenedAtFilter.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsForm.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsForm.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsModal.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsModal.vue
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSection.spec.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSection.vue
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.spec.ts
  Okane.Client/src/features/financeRecords/composables/useInfiniteQueryFinanceRecords.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.spec.ts
  Okane.Client/src/features/financeRecords/composables/useSearchFinanceRecordsStore.ts
  Okane.Client/src/features/financeRecords/constants/apiRoutes.ts
  Okane.Client/src/features/financeRecords/constants/copy.ts
  Okane.Client/src/features/financeRecords/constants/searchFinanceRecords.ts
  Okane.Client/src/features/financeRecords/types/searchFinanceRecords.ts
  Okane.Client/src/features/financeRecords/utils/mappers.spec.ts
  Okane.Client/src/features/financeRecords/utils/mappers.ts
  Okane.Client/src/shared/components/form/ToggleableRangeInputs.spec.ts
  Okane.Client/src/shared/components/modal/Modal.vue
  Okane.Client/src/shared/constants/copy.ts
  Okane.Client/src/shared/constants/form.ts
  Okane.Client/src/shared/pages/FinancesPage.spec.ts
  Okane.Client/src/shared/pages/FinancesPage.vue
  Okane.Client/src/shared/types/search.ts
  Okane.Client/src/shared/utils/search.spec.ts
  Okane.Client/src/shared/utils/search.ts
Due: lint-frontend, test-frontend

72-FE: Fix tests
  Okane.Client/src/__tests__/msw/handlers/financeRecord.ts
  Okane.Client/src/features/financeRecords/components/FinanceRecordList.spec.ts
  Okane.Client/src/shared/components/InfiniteScroller.spec.ts
Due: lint-frontend, test-frontend

Path conditions:
  lint-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-frontend: any of: *.{vue,js,ts} and ^Okane\.Client/
  test-backend: any of: *.cs
