Repository Philosocode/okane: changes, and which lefthook commands are due for each by the changed paths.
All: lint-frontend, test-frontend, test-backend

lefthook.yml:

pre-push:
  parallel: true
  commands:
    lint-frontend:
      root: Okane.Client
      glob: "*.{vue,js,ts}"
      run: make lint
    test-frontend:
      root: Okane.Client
      glob: "*.{vue,js,ts}"
      run: make test
    test-backend:
      glob: "*.cs"
      run: dotnet test --verbosity normal

40-API: Add endpoint to get password requirements
  Okane.Api.Tests/Features/Auth/Endpoints/GetPasswordRequirementsTests.cs
  Okane.Api/Features/Auth/Constants/AuthEndpointNames.cs
  Okane.Api/Features/Auth/Dtos/Responses/PasswordRequirementsResponse.cs
  Okane.Api/Features/Auth/Endpoints/GetPasswordRequirements.cs
  Okane.Api/Features/Auth/Mappers/PasswordOptionsMappers.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

40-FE: Display password requirements in register form
  Okane.Client/src/__tests__/factories/authForm.ts
  Okane.Client/src/features/auth/components/AuthForm.spec.ts
  Okane.Client/src/features/auth/components/AuthForm.vue
  Okane.Client/src/features/auth/components/PasswordRequirements.spec.ts
  Okane.Client/src/features/auth/components/PasswordRequirements.vue
  Okane.Client/src/features/auth/components/RegisterForm.spec.ts
  Okane.Client/src/features/auth/composables/useQueryPasswordRequirements.spec.ts
  Okane.Client/src/features/auth/composables/useQueryPasswordRequirements.ts
  Okane.Client/src/features/auth/constants/apiRoutes.ts
  Okane.Client/src/features/auth/constants/authForm.ts
  Okane.Client/src/features/auth/constants/copy.ts
  Okane.Client/src/features/auth/constants/queryKeys.ts
  Okane.Client/src/features/auth/types/authForm.ts
  Okane.Client/src/features/auth/utils/authForm.spec.ts
  Okane.Client/src/features/auth/utils/authForm.ts
  Okane.Client/src/features/financeRecords/components/SearchFinanceRecordsSummary.vue
  Okane.Client/src/features/financeRecords/constants/queryKeys.ts
  Okane.Client/src/shared/constants/form.ts
  Okane.Client/src/shared/pages/LoginPage.spec.ts
  Okane.Client/src/shared/styles/_base.scss
Due: lint-frontend, test-frontend

90-FE: Split up `AuthForm`
  Okane.Client/src/__tests__/msw/handlers/auth.ts
  Okane.Client/src/features/auth/components/AuthForm.spec.ts
  Okane.Client/src/features/auth/components/AuthForm.vue
  Okane.Client/src/features/auth/components/LoginForm.spec.ts
  Okane.Client/src/features/auth/components/LoginForm.vue
  Okane.Client/src/features/auth/components/RegisterForm.spec.ts
  Okane.Client/src/features/auth/components/RegisterForm.vue
  Okane.Client/src/features/auth/composables/useQueryPasswordRequirements.ts
  Okane.Client/src/features/auth/constants/copy.ts
  Okane.Client/src/features/auth/types/authForm.ts
  Okane.Client/src/shared/components/NavBar.spec.ts
  Okane.Client/src/shared/components/NavBar.vue
  Okane.Client/src/shared/pages/LoginPage.spec.ts
  Okane.Client/src/shared/pages/LoginPage.vue
  Okane.Client/src/shared/pages/RegisterPage.spec.ts
  Okane.Client/src/shared/pages/RegisterPage.vue
Due: lint-frontend, test-frontend

86-API: Add endpoints to reset password
  Okane.Api.Tests/Features/Auth/Endpoints/RegisterTests.cs
  Okane.Api.Tests/Features/Auth/Endpoints/ResetPasswordTests.cs
  Okane.Api.Tests/Features/Auth/Endpoints/SendResetPasswordEmail.cs
  Okane.Api.Tests/Infrastructure/Emails/Utils/EmailGeneratorTests.cs
  Okane.Api.Tests/Testing/Mocks/TestingEmailService.cs
  Okane.Api/Features/Auth/Constants/AuthEndpointNames.cs
  Okane.Api/Features/Auth/Endpoints/ResetPassword.cs
  Okane.Api/Features/Auth/Endpoints/SendResetPasswordEmail.cs
  Okane.Api/Infrastructure/Emails/Utils/EmailGenerator.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

86-FE: Remove finances link in navbar
  Okane.Client/src/shared/components/NavBar.spec.ts
  Okane.Client/src/shared/components/NavBar.vue
Due: lint-frontend, test-frontend

86-FE: Add page to reset password
  Okane.Client/src/features/auth/components/ResetPasswordForm.spec.ts
  Okane.Client/src/features/auth/components/ResetPasswordForm.vue
  Okane.Client/src/features/auth/composables/useResetPassword.spec.ts
  Okane.Client/src/features/auth/composables/useResetPassword.ts
  Okane.Client/src/features/auth/constants/apiRoutes.ts
  Okane.Client/src/features/auth/constants/copy.ts
  Okane.Client/src/shared/pages/ResetPasswordPage.spec.ts
  Okane.Client/src/shared/pages/ResetPasswordPage.vue
  Okane.Client/src/shared/services/router/router.ts
Due: lint-frontend, test-frontend

86-FE: Add page to send reset password email
  Okane.Client/src/features/auth/components/AuthForm.spec.ts
  Okane.Client/src/features/auth/components/AuthForm.vue
  Okane.Client/src/features/auth/components/LoginForm.vue
  Okane.Client/src/features/auth/components/RegisterForm.vue
  Okane.Client/src/features/auth/components/SendResetPasswordEmailForm.spec.ts
  Okane.Client/src/features/auth/components/SendResetPasswordEmailForm.vue
  Okane.Client/src/features/auth/composables/useSendResetPasswordEmail.spec.ts
  Okane.Client/src/features/auth/composables/useSendResetPasswordEmail.ts
  Okane.Client/src/features/auth/constants/apiRoutes.ts
  Okane.Client/src/features/auth/constants/copy.ts
  Okane.Client/src/shared/pages/LoginPage.spec.ts
  Okane.Client/src/shared/pages/LoginPage.vue
  Okane.Client/src/shared/pages/SendResetPasswordEmailPage.spec.ts
  Okane.Client/src/shared/pages/SendResetPasswordEmailPage.vue
  Okane.Client/src/shared/services/router/router.ts
Due: lint-frontend, test-frontend

85-API: Add endpoint to delete self
  Okane.Api.Tests/Features/Auth/Endpoints/DeleteSelfTests.cs
  Okane.Api/Features/Auth/Constants/AuthEndpointNames.cs
  Okane.Api/Features/Auth/Endpoints/DeleteSelf.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

85-API: Add endpoint to update self
  Okane.Api.Tests/Features/Auth/Endpoints/PatchSelfTests.cs
  Okane.Api/Features/Auth/Constants/AuthEndpointNames.cs
  Okane.Api/Features/Auth/Endpoints/PatchSelf.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

85-FE: Remove unused import
  Okane.Client/src/shared/components/NavBar.vue
Due: lint-frontend, test-frontend

85-INFRA: Add `PatchSelf` Hurl request
  Requests/auth/patchSelf
Due: none

85-API: `PatchSelf` Fix name update not working
  Okane.Api.Tests/Features/Auth/Endpoints/PatchSelfTests.cs
  Okane.Api/Features/Auth/Endpoints/PatchSelf.cs
Due: test-backend

85-FE: Implement delete account
  Okane.Client/src/features/auth/components/DeleteAccountModal.spec.ts
  Okane.Client/src/features/auth/components/DeleteAccountModal.vue
  Okane.Client/src/features/auth/composables/useAuthStore.spec.ts
  Okane.Client/src/features/auth/composables/useAuthStore.ts
  Okane.Client/src/features/auth/composables/useDeleteAccount.spec.ts
  Okane.Client/src/features/auth/composables/useDeleteAccount.ts
  Okane.Client/src/features/auth/constants/apiRoutes.ts
  Okane.Client/src/features/auth/constants/copy.ts
  Okane.Client/src/shared/components/NavBar.spec.ts
  Okane.Client/src/shared/components/NavBar.vue
  Okane.Client/src/shared/pages/AccountDeletedPage.spec.ts
  Okane.Client/src/shared/pages/AccountDeletedPage.vue
  Okane.Client/src/shared/pages/AccountPage.vue
  Okane.Client/src/shared/services/router/router.ts
  Okane.Client/src/shared/styles/_base.scss
Due: lint-frontend, test-frontend

85-FE: Implement edit name
  Okane.Client/src/features/auth/components/AuthForm.spec.ts
  Okane.Client/src/features/auth/components/AuthForm.vue
  Okane.Client/src/features/auth/components/EditName.spec.ts
  Okane.Client/src/features/auth/components/EditName.vue
  Okane.Client/src/features/auth/composables/useEditSelf.spec.ts
  Okane.Client/src/features/auth/composables/useEditSelf.ts
  Okane.Client/src/features/auth/constants/copy.ts
  Okane.Client/src/shared/pages/AccountPage.vue
Due: lint-frontend, test-frontend

85-FE: Implement edit password
  Okane.Client/src/features/auth/components/EditPassword.spec.ts
  Okane.Client/src/features/auth/components/EditPassword.vue
  Okane.Client/src/features/auth/constants/copy.ts
  Okane.Client/src/shared/pages/AccountPage.spec.ts
  Okane.Client/src/shared/pages/AccountPage.vue
Due: lint-frontend, test-frontend

98-API: Add migration for case-insensitive collation
  Okane.Api/Infrastructure/Database/ApiDbContext.cs
  Okane.Api/Infrastructure/Database/Constants/DbConstants.cs
  Okane.Api/Infrastructure/Database/Migrations/20241226175309_CaseInsensitiveCollation.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20241226175309_CaseInsensitiveCollation.cs
  Okane.Api/Okane.Api.csproj
Due: test-backend

98-DOCS: Add spec for finance record tags
  Documents/Specs/finance-record-tags.md
Due: none

98-API: Add migration for finance tags
  Okane.Api/Features/Auth/Entities/ApiUser.cs
  Okane.Api/Features/Finances/Entities/FinanceRecord.cs
  Okane.Api/Features/Finances/Entities/FinanceRecordTag.cs
  Okane.Api/Features/Finances/Entities/FinanceUserTag.cs
  Okane.Api/Features/Tags/Entities/Tag.cs
  Okane.Api/Infrastructure/Database/ApiDbContext.cs
  Okane.Api/Infrastructure/Database/Migrations/20241231190419_FinanceTags.Designer.cs
  Okane.Api/Infrastructure/Database/Migrations/20241231190419_FinanceTags.cs
Due: test-backend

98-API: Rename folder: `Tests/Features/FinanceRecords` to `Tests/Features/Finances`
  Okane.Api.Tests/Features/Finances/Endpoints/DeleteFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/PostFinanceRecordTests.cs
Due: test-backend

98-API: Rename `UserUtils.GetByEmail` to `UserUtils.GetByEmailAsync`
  Okane.Api.Tests/Features/Auth/Endpoints/DeleteSelfTests.cs
  Okane.Api.Tests/Features/Auth/Endpoints/RotateRefreshTokenTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/DeleteFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceRecordsStatsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/GetPaginatedFinanceRecordsTests.cs
  Okane.Api.Tests/Features/Finances/Endpoints/PatchFinanceRecordTests.cs
  Okane.Api.Tests/Testing/Utils/UserUtils.cs
Due: test-backend

98-API: Add endpoint to delete finance user tag
  Okane.Api.Tests/Features/Finances/Endpoints/DeleteFinanceUserTagTests.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/DeleteFinanceUserTag.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

98-API: Add endpoint to fetch all finance user tags
  Okane.Api.Tests/Features/Finances/Endpoints/GetFinanceUserTagsTests.cs
  Okane.Api.Tests/Features/Finances/Mappers/FinanceUserTagMappersTests.cs
  Okane.Api.Tests/Testing/StubFactories/TagStubFactory.cs
  Okane.Api.Tests/Testing/Utils/FinanceTagUtils.cs
  Okane.Api.Tests/Testing/Utils/TagUtils.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Dtos/FinanceUserTagResponse.cs
  Okane.Api/Features/Finances/Endpoints/GetFinanceUserTags.cs
  Okane.Api/Features/Finances/Mappers/FinanceUserTagMappers.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
  Requests/finance-records/tags/getFinanceUserTags
Due: test-backend

98-API: Add endpoint to rename a finance user tag
  Okane.Api.Tests/Features/Finances/Endpoints/PostRenameFinanceUserTagTests.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/PostRenameFinanceUserTag.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
Due: test-backend

98-API: `PostFinanceRecord` Fix `CreatedAtRoute` args
  Okane.Api.Tests/Features/Finances/Endpoints/PostFinanceRecordTests.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceRecord.cs
Due: test-backend

98-API: Add endpoint to create a finance user tag
  Okane.Api.Tests/Features/Finances/Endpoints/PostFinanceUserTagTests.cs
  Okane.Api.Tests/Features/Finances/Services/FinanceTagServiceTests.cs
  Okane.Api/Features/Finances/Constants/FinanceRecordEndpointNames.cs
  Okane.Api/Features/Finances/Endpoints/PostFinanceUserTag.cs
  Okane.Api/Features/Finances/Services/FinanceTagService.cs
  Okane.Api/Infrastructure/Endpoints/Endpoints.cs
  Okane.Api/Infrastructure/Extensions/ConfigureServices.cs
Due: test-backend
